.arrow {
  width: 80px;
  height: 80px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -40px;
}

.arrow.left {
  left: 0px;
  margin-left: -100px;
}

.arrow.right {
  transform: rotate(180deg);
  right: 0px;
  margin-right: -100px;
}

.arrow-icon polyline {
  transition: all 100ms ease-in-out;
}

.arrow:hover .arrow-icon polyline {
  stroke-width: 3;
}

.arrow:active .arrow-icon polyline {
  stroke-width: 6;
}
