.carousel__footer {
  text-align: center;
  margin: 0 auto;
  width: 800px;
  height: 130px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  position: relative;
  vertical-align: middle;
  background-image: linear-gradient(to right, white, white),
  linear-gradient(to right, white, white),
  linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
  linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

.footer__card {
  display: inline-block;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  width: 150px;
  height: 82px;
  box-shadow: 2px 2px 5px rgb(100, 100, 100);
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: .3s;
  z-index: 0;
  overflow: visible;
  cursor: pointer;
}

.footer__image {
  width: 150px;
}

.hover-text {
  opacity: 0;
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__card::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  opacity: .8;
}

.footer__card:hover,
.footer__card-active {
  transform: scale(1.1);
}

.footer__card:hover::before,
.footer__card-active::before {
  opacity: 0;
}

.footer__card-active .hover-text,
.footer__card:hover .hover-text {
  opacity: 1;
}
