.project-link {
  background-color: #fff;
  background-size: 30px;
  background-position-x: 5px;
  background-position-y: center;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(56, 56, 56);
  text-decoration: none;
  font-family: sans-serif;
  margin: 0 20px;
  text-transform: capitalize;
}

.github {
  background-image: url("/assets/github-logo.png");
}

.production {
  background-image: url("/assets/production-logo.png");
}
