.projects {
  width: 100%;
  padding: 10px 30px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  background: transparent;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-auto-rows: 150px;
}


.project-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
}
