.project-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  position: relative;
  overflow-y: hidden;
}

.project-links {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  z-index: 3;
}

.project-card:hover .project-links {
  opacity: 1;
}

.project-card:before {
  content: '';
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transition: .3s;
}

.project-card:hover:before {
  opacity: 0;
}

.project-card__title {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 70px;
}

.project-card__span {
  /*font-weight: 300;*/
}


/* Movie Tracker */
#movie-tracker .project-card__title {
  color: #ffffff;
}

#movie-tracker .project-card__span {
  color: rgb(36, 155, 224)
}
