.projects {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 10px 30px;
  margin: 0 auto;
  background: transparent;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
