.about {
  height: calc(100vh - 80px);
  margin: 0 auto;
  padding-top: 100px;
  width: 70%;

}

.about__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.about__image {
  height: 200px;
  border-radius: 5%;
  float: left;
}

.about__name-box {
  border-left: 1px solid rgb(100, 100, 100);
  margin-left: 20px;
  padding-left: 20px;
}

.name {
  font-size: 64px;
}

.job-title {
  font-size: 18px;
  padding-left: 4px;
}

.about__title {
  line-height: 2em;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.about__paragraph {
  line-height: 1.5em;
  margin-bottom: 10px;
}
