.about {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 70%;
  display: flex;
}

.about__image {
  float: left;
  height: 150px;
  border-radius: 5%;
  margin-right: 20px;
}

.about__title {
  text-align: center;
  line-height: 2em;
  margin-bottom: 10px;
}

.about__paragraph {
  line-height: 1.5em;
  margin-bottom: 10px;
}
