.about {
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  margin: 0 auto;
  padding: 20px;
  width: 72%;
}

.title {
  line-height: 2em;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(100, 100, 100);
}


.paragraph {
  line-height: 1.5em;
  margin-bottom: 10px;
}


@media (max-width: 800px) {
  .about {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 650px) {
  .about__header {
    flex-direction: column;
  }

  .about__name-box {
    border-left: none;
    border-top: 1px solid rgb(100, 100, 100);
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    text-align: center;
  }

  .job-title {
    padding: 0;
  }
}


@media (max-width: 500px) {
  .name {
    font-size: 36px;
  }

  .job-title {
    font-size: 18px;
  }
}
