.dropdown {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255);
  box-shadow: 2px 2px 4px rgb(47, 47, 47);
}

.dropdown.inactive {
  padding: 0 10px;
  opacity: 0;
}

.dropdown.inactive .dropdown__link {
  font-size: 0;
  padding: 0 10px;
}

.dropdown__link {
  height: auto;
  padding: 10px;
  background: transparent;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}

.dropdown__link:hover {
  background-color: #636363;
  color: #fff;
}


@media (min-width: 500px) {
  .dropdown {
    display: inline-flex;
    flex-direction: row;
  }

  .dropdown.inactive {
    opacity: 1;
  }

  .dropdown.inactive .dropdown__link {
    font-size: 1.5em;
    padding: 10px;
  }

}
