/*Global Selectors*/
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, input, h1, h2, h3, p, table, ul, li {
  margin: 0;
  padding: 0;
  color: #636363;
}

body {
  font-family: sans-serif;
  color: #303030;
}

*:focus {
  outline: none;
}

ul { list-style-type: none;}

a { text-decoration: none; color: inherit;}

a:visited { text-decoration: none; color: inherit; }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
