/*Global Selectors*/
* {
  box-sizing: border-box;
}

html, body, input, h1, h2, h3, p, table, ul, li {
  margin: 0;
  padding: 0;
  color: rgb(61, 61, 61);
}

body {
  font-family: sans-serif;
  color: #303030;
}

ul {
  list-style-type: none;
}


.tab {
  transition: all 1s ease;
  animation-name: tab;
  animation-duration: 1s;
}

@keyframes tab {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
